<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Remixicon Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Remixicon Icon -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="{{url_for('static', filename='styles/main.css')}}" rel="stylesheet">
    <title>ixslea's website</title>
  </head>
  <body>
    
    <!-- main -->
    <main class="ds-pge-wrap">
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12  col-md-12  col-lg-10  col-xl-10  col-xxl-10">
                <!-- header -->
                <header class="ds-header">
                    <a class="ds-logo" href="about">About me</a>
                </header>
                <!-- header -->
                <!-- banner -->
                <section class="ds-banner-section ds-content-width">
                    <h1 class="ds-heading"><span>Hello,<br> I'm ixslea!<br></span></h1>
                    <p>I'm a student. There are some of my projects:</p>
                </section>
                <!-- banner -->
                <!-- Case Studies -->
                
                <div class="inner-wrapper">
                  <div class="row">
                    <div class="col-lg-4 single-block aos-init aos-animate" data-aos="fade-up">
                      <div class="service-block">
                        <div class="hover-content"></div>
                        <i class="flaticon-web user"></i>
                        <h5 class="title"><a href="https://web.telegram.org/k/#@neiroex_bot">Telegram bot on Node.js to train your brain.</a></h5>
                        <p>Telegram bot based on neurobics helps to remember more and concentrate better.</p>
                        <a class="detail-button"><i class="icon-img"><img src="{{url_for('static', filename='brain.gif')}}" width="100%"></i></a>
                      </div> <!-- /.service-block -->
                    </div> <!-- /.single-block -->
                    <div class="col-lg-4 single-block aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                      <div class="service-block">
                        <div class="hover-content"></div>
                        <i class="flaticon-value icon-s"></i>
                        <h5 class="title"><a href="https://pypi.org/project/ixi-algs/">Python module "ixi_algs" on PyPi.</a></h5>
                        <p>Python module with some classic alghoritms (in development...).</p>
                        <a href="#" class="detail-button"><i class="icon-img"><img src="{{url_for('static', filename='algs.gif')}}"  margin = 50px, width="100%"></i></a>
                      </div> <!-- /.service-block -->
                    </div> <!-- /.single-block -->
                    <div class="col-lg-4 single-block aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
                      <div class="service-block">
                        <div class="hover-content"></div>
                        <i class="flaticon-login icon-s"></i>
                        <h5 class="title"><a href="https://github.com/ixslea/spbau_python/tree/main/2_sem/PyQt6">Python application with my homework assignment.</a></h5>
                        <p>PyQt6 application about analazying some alghoritms.</p>
                        <a href="#" class="detail-button"><i class="icon-img">
                          <img src="{{url_for('static', filename='py.gif')}}" width="100%">
                          </i></a>
                      </div> <!-- /.service-block -->
                    </div> <!-- /.single-block -->
                  </div> <!-- /.row -->
                </div> <!-- /.inner-wrapper -->
              </div> <!-- /.container -->
            </div>

                 
          </div>
      </div>
    </main>
    <!-- main -->
    <!-- footer -->
    <footer class="ds-footer">
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12  col-md-12  col-lg-10  col-xl-10  col-xxl-10">
                <section class="ds-lets_section">
                  <h4>Let’s Talk.</h4>
                  <span>Have a question? Send me a message.</span>
                </section>
                <div class="ds-email_social">
                    <a href="mailto:mpodstava@gmail.com" class="ds-email ds-boder_text"><span>mpodstava@gmail.com</span></a>
                    <ul class="ds-social">
                        <li><a href="https://github.com/ixslea" target="_blanck"><i class="ri-github-line"></i></a></li>
                        <li><a href="" target="_blanck"><i class="ri-telegram-line"></i></a></li>
                    </ul>
                </div>
                <span class="ds-copyright"><br><a href="https://www.designstub.com/" target="_blanck">Template by Designstub.</a></span>
            </div>
          </div>
      </div>
    </footer>
    <!-- footer -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
  </body>
</html>